<!doctype html>
<html class="ma-0 pa-0 h-100" lang="en">
  <%- include("../includes/head.html.ejs") %>
  <%- include("../includes/body-and-header.html.ejs", { nav: nav }) %>
  <article>
    <h2 class="f-5"><%= category.title %> Custom Properties</h2>
    <p class="p">
      <%- category.descriptionHTML %>
    </p>
    <% if (category.seeLinks.length > 0) { %>
      <h3 class="f-2 b">See Also</h3>
      <ul>
        <% category.seeLinks.forEach( (link) => { %>
          <li><%- link %></li>
        <% }) %>
      </ul>
    <% } %>
    <% category.scales.forEach( (scale) => { %>
      <h3 class="f-4 mt-4" id="<%= scale.ref %>"><%= scale.title %></h3>
      <p class="p">
        <%- scale.descriptionHTML %>
      </p>
      <% if (scale.seeLinks.length > 0) { %>
        <h4 class="f-2 b">See Also</h3>
        <ul>
          <% scale.seeLinks.forEach( (link) => { %>
            <li><%- link %></li>
          <% }) %>
        </ul>
      <% } %>
      <% scale.properties.forEach( (property) => { %>
        <h4 class="f-3 fw-3 mt-4" id="<%= property.ref %>"><code><%= property.name %></code></h4>
        <div class="ml-3">
        <p class="p">
          <%- property.descriptionHTML %>
        </p>
        <% if (property.seeLinks.length > 0) { %>
          <h5 class="f-1 b">See Also</h3>
          <ul>
            <% property.seeLinks.forEach( (link) => { %>
              <li><%- link %></li>
            <% }) %>
          </ul>
        <% } %>
        <dl class="property-grid">
          <dt>Type:</dt>
          <dd>
            <code><%= property.type %></code>
          </dd>
          <dt>Value:</dt>
          <dd>
            <code><%= property.value %></code>
          </dd>
        </dl>
        </div>
      <% }) %>
    <% }) %>
  </article>
  <div class="ma-0 overflow-y-auto pa-2 w-20 h-100 pos-absolute top-0 right-2">
    <div class="pa-3 ba bc-gray-700 bg-gray-900 br-3 inset-shadow-1">
      <h3>On this Page</h3>
      <ul class="lst-none ma-0 pa-0">
      <% category.scales.forEach( (scale) => { %>
        <li><a href="#<%= scale.ref %>"><%= scale.title %></a></li>
      <% }) %>
      </ul>
    </div>
  </div>
  <%- include("../includes/footer-and-rest.html.ejs") %>
</html>

